<h1> <%= @discount.item.name %></h1><br>
<p> Discount: <%= @discount.percentage_discount %></p><br>
<p> Minimum: <%= @discount.quantity_threshold %></p><br
<p> <%= link_to 'Update Discount', { controller: "bulk_discounts", action: "update", id: @discount.id }, method: :patch %> </p>
