version: 2.1

orbs:
  heroku: circleci/heroku@1.2.5

workflows:
  version: 2.1
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          requires:
            - build
          filters:
            branches:
              only: sequential-branch-filter

jobs:
  build:
    working_directory: ~/turing/mod_2/projects/little-esty-shop-bulky
    docker:
      - image: circleci/ruby:2.5.3
        environment:
          PGHOST: localhost
          PGUSER: little-esty-shop-bulky
          RAILS_ENV: test
      - image: postgres:9.5
        environment:
          POSTGRES_USER: little-esty-shop-bulky
          POSTGRES_DB: little-esty-shop_test
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout

      - run: gem install bundler

      - run: bundle install

      - run: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: bundle exec rails db:schema:load --trace

      - run: bundle exec rspec
      
      